/ant/
/checkstyle/
/commons-beanutils/
/junit/
/jetty/
/postgresql/
/mysql/
/commons-el/
/commons-collections/
/commons-cli/
/jts/
/commons-logging/
/commons-dbcp/
/crypto/
/commons-httpclient/
/nbproject/
/commons-validator/
/oro/
/commons-pool/
/jscalendar/
/geronimo/
/commons-fileupload/
/hsqldb/
/junitee/
/commons-digester/
/xerces/
/taglibrarydoc/
/struts/
/geronimo-specs/